/deep/ body {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 16px;
}
/* BUTTONS */
/deep/ paper-button:not([disabled]).default::shadow {
    color: var(--accent-color);
}

/deep/ paper-button:not([disabled])[raised].default::shadow {
    background: var(--accent-color);
    color: var(--text-primary-color);
}

/deep/ paper-button:not([disabled])[raised].default::shadow paper-ripple {
    color: var(--text-primary-color);
}
/* -BUTTONS- */

/* CHECKBOX, RADIO BUTTON, TOGGLE BUTTON, INPUT, SLIDER, FAB */
* {
    --paper-checkbox-checked-color: var(--accent-color);
    --paper-checkbox-checked-ink-color: var(--accent-color);

    --paper-radio-button-checked-color: var(--accent-color);
    --paper-radio-button-checked-ink-color: var(--accent-color);

    --paper-toggle-button-checked-bar-color: var(--accent-color);
    --paper-toggle-button-checked-button-color: var(--accent-color);
    --paper-toggle-button-checked-ink-color: var(--accent-color);

    --paper-input-container-focus-color: var(--accent-color);

    --paper-slider-active-color: var(--accent-color);
    --paper-slider-knob-color: var(--accent-color);
    --paper-slider-pin-color: var(--accent-color);

    --paper-fab-keyboard-focus-background: var(--accent-color);
}
/* -CHECKBOX, RADIO BUTTON, TOGGLE BUTTON, INPUT, SLIDER, FAB- */

/* MAT-DROPDOWN */
/deep/ #matInputUnderlineFocused {
    color: var(--accent-color) !important;
}
/deep/ mat-dropdown:not([disabled]) #matInputMain {
    border-bottom: 1px solid var(--secondary-text-color);
}
/deep/ mat-dropdown:not([disabled]) #matInputPlaceholder {
    color: var(--secondary-text-color) !important;
}
/deep/ mat-dropdown[focused][floated] #matInputPlaceholder {
    color: var(--accent-color) !important;
}
/* -MAT-DROPDOWN- */

/* CARDS */
/deep/ paper-material.card {
    border-radius: 2px;
    height: 100%;
    padding: 16px;
    margin: 16px;

    @apply(--card-background);
}
/* -CARDS- */

/* SIMPLE PAGE */
.simple-page {
    padding: 16px;
    background: white;
}
/* -SIMPLE PAGE- */

/* SELECTED ELEMENTS */
/deep/ ::-moz-selection { /* Code for Firefox */
    background: var(--light-primary-color);
}
/deep/ ::selection {
    background: var(--light-primary-color);
}
/* -SELECTED ELEMENTS- */

/* H1, H2, H3 */
/deep/ h1.title, /deep/ h2.title, /deep/ h3.title {
    border-bottom: 3px solid var(--dark-primary-color);
    font-weight: 500;
}
/* -H1, H2, H3- */

#drawerToolbar {
    color: var(--secondary-text-color);
    background-color: var(--drawer-menu-color);
    border-bottom: var(--drawer-toolbar-border-color);
    height: 64px;
}
/deep/ #drawer.paper-drawer-panel > [drawer] {
    border-right: 1px solid rgba(0, 0, 0, 0.14);
}

paper-menu iron-icon {
    margin-right: 33px;
    opacity: 0.54;
}

paper-menu a {
    text-decoration: none;
    color: var(--menu-link-color);
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    min-height: 48px;
    padding: 0 16px;
}

[drawer] paper-menu .iron-selected {
    color: var(--default-primary-color);
}

#mainToolbar .app-name {
    margin-left: 36px;
    font-size: 20px;
}

@media (max-width: 640px) {
    #mainToolbar .app-name {
        margin-left: 12px;
        font-size: 16px;
    }
    #paperToggle {
        margin-right: 0;
    }
}

#drawerToolbar .menu-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

#menuContainer {
    overflow-y: auto;
    backgroud-color: pink;
}